:root {
    --bs-darkbg: rgb(15, 15, 41);
    --bs-lightbg: rgb(23, 23, 56);
}

.para {
    color: rgb(167,167,167);text-align: center;margin-bottom: 2px;
}

.inp {
    width: 375px;
    margin-right: auto;
    margin-left: auto;
    display: inherit;
    background: var(--bs-darkbg);
    border-radius: 9px;
    color: rgb(242,242,242);
    border-color: rgb(98,98,111);
    height: 45px;
    border-style: solid;
}

.lin {
    text-decoration: none;
    color: rgb(0,103,255);
}

.lin:hover {
    text-decoration: underline;
    transition: color 1s;
    color: rgb(0,82,205);
}

.bar:hover {
    border-radius: 9px;
    outline: 3px solid rgb(9, 83, 194);
    transition: outline 0.1s;
}