<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/simple-line-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer-Basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navigation-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="auth">
        <h2 id="header">Авторизация</h2>
        <div style="padding-top: 23px;">
            <form style="margin-top: 50px;">
                <p class="parform" style="margin-top: -23px;">Выбор площадки</p>
                <i class="icon-arrow-down" style="position: absolute;margin-top: 11px;margin-left: 248px;font-size: 13px;"></i>
                {% if sel %}
                <select class="form-select selplo" disabled>
                {% else %}
                <select class="form-select selplo">
                {% endif %}
                    {% for group in groups_platform %}
                        <optgroup label="{{ group.name }}">
                            {% for platform in platforms %}
                                {% if platform.id_group == group.id %}
                                {% if platform.id == sel %}
                                    <option value="{{ platform.id }} selected">{{ platform.name }}</option>
                                {% endif %}
                                <option value="{{ platform.id }}">{{ platform.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                <input class="form-control loginput" type="text" style="margin-top: 15px;;">
                <input class="form-control loginput" type="password" style="margin-top: 31px;">
                <p class="parform" style="margin-top: -124px;">Логин</p>
                <p class="parform" style="margin-top: -59px;">Пароль</p>
            </form>
        </div>
        <a class="btn login" href="#">Войти</a>
    </div>
    <footer class="footer-basic" style="margin-top: 73px;height: 138px;">
        <div class="social"><a href="https://vk.com/leadassistant" target="_blank"><i class="fab fa-vk"></i></a></div>
        <p style="text-align: center;color: rgb(170, 170, 170);">Для получения доступа обращайтесь в группу ВКонтакте.</p>
        <p class="copyright">Lead Assistant Team © 2022</p>
    </footer>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/kitfa.js') }}"></script>
</body>

</html>